<div class="col">

	<h4>Entities</h4>
	<br>

	<table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Alias</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let elem of allEntities">
                  <td>{{elem.id}}</td>
                  <td>{{elem.alias}}</td>
                  <td>{{elem.email}}</td>
                </tr>
              </tbody>
            </table>

</div>
